* {
    font-size: 16px;   
}
.content, .body, .files {
    margin-top: 70px;
}


/* ==== list view ==== */
.list .folder {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.list .folder:after {
    clear: both;
    display: block;
    content: '';
}

.list .folder .icon {
    width: 50px;
    height: 40px;
    background-image: url("/static/folder.png");
    background-size: 40px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.list .folder .name, .list .folder .date {
    line-height: 40px;
    float: left;
    margin-right: 10px;
}

.list .folder .date {
    font-style: italic;
}

/* ==== grid view ==== */
.grid .folder {
    width: 100px;
    margin-right: 20px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-align: center;
}

.grid:after {
    display: block;
    clear: both;
}

.grid .folder .icon {
    width: 100px;
    height: 100px;
    background-image: url("/static/folder.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

.grid .folder .name {
    font-weight: bold;
}
.grid .folder .date {
    font-style: italic;
}

