* {
    font-size: 16px;   
}
.content, .body, .files {
    margin-top: 70px;
}

.folder:hover, .file:hover {
    background: gray;
    cursor: pointer;
}


/* ==== list view ==== */
.list .folder, .list .file {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.list .folder:after, .list .file:after {
    clear: both;
    display: block;
    content: '';
}

.list .folder .icon, .list .file .icon {
    width: 50px;
    height: 40px;
    background-image: url("/static/folder.png");
    background-size: 40px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}
.list .file .icon {
    background-image: url("/static/file.png");
}

.list .folder .name, .list .folder .date, .list .file div {
    line-height: 40px;
    float: left;
    margin-right: 10px;
}

.list .folder .date, .list .file .date {
    font-style: italic;
}

/* ==== grid view ==== */
.grid .folder, .grid .file {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-align: center;
}

.grid:after {
    display: block;
    clear: both;
}

.grid .folder .icon, .grid .file .icon {
    width: 250px;
    height: 120px;
    background-image: url("/static/folder.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top center;
}
.grid .file .icon {
    background-image: url("/static/file.png");
}
.grid .folder .name, .grid .file div {
    font-weight: bold;
}
.grid .folder .date, .grid .file .date {
    font-style: italic;
}

.iframe {
    display: inline-block;
    width: 250px;
    height: 200px;
    border: none;
}
